:root{
  --body-text-color: #434455;
  --white-background-color:#FFFFFF;
  --modal-background-color: #FCFCFC;
  --modal-overlay-color: #2E2F42;
  --hero-background-color: #2E2F42; 
  --primary-brand-color: #4D5AE5;
  --pressed-state-color: #404BBF;
  --dark-overlays-shadows-color:#2E2F42;
  --success-color: #31D0AA;
  --subtle-text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-mode-color: #F4F4FD;}

body {
  background-color: var(--white-background-color);
  color: var(--body-text-color);
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
  font-family: 'Roboto', sans-serif,'Raleway', sans-serif;}

a {text-decoration: none;}  

ul {list-style: none;}

.web-logo, .studio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
text-transform: uppercase;}

.web-logo {color:var(--primary-brand-color);}

.studio-logo {color: var(--body-text-color);}



